@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="about-style">
    <div class="box-container">
    <div class="box1-content content">
        <h1>Hello,</h1>
        <p>...</p>
    </div>
    <div class="box1-side">
        <button class="buttonatoe">⟶</button>
    </div>
    <div class="box2-side">
        <button class="buttonatoe">⟵</button>
    </div>
    <div class="box2-content content">
        <h1>Good Bye,</h1>
            <p>...</p>
    </div>
    </div>
</body>