@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="
background: #777A7B;
background: radial-gradient(at center, #777A7B, #373333);"
    class="center">
        <div class="animated-title">
            <div class="text-top">
                <div>
                    <span>Made Deals</span>
                    <span style="color: #0246a5">Sell with Ease</span>
                </div>
            </div>
            <div class="text-bottom">
                <div>Buy with Confidence!</div>
            </div>
        </div>
    </body>
</html>
