<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="social">
        <ul>
            <li><a href="https://x.com/ManvelKhac50185">Twitter <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/manvel5505">Github <i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/manvel-khachatryan-9b206a285/">Linkedin <i class="fa fa-linkedin"></i></a></li>
        </ul>
    </nav>
</body>